@import url("https://use.typekit.net/jmk3xov.css");
@import url("https://fonts.googleapis.com/css?family=Armata");
@import "tailwindcss";

:root {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}
